
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Article</title>
    <h3>我是文章</h3>
</head>
<body>
    <div> 
    </div>
</body>
</html>
